{% macro pagination(pagination, endpoint) %}
    {% if pagination is not none and pagination is defined and pagination is not mapping %}
        {% if pagination.iter_pages %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% for page in pagination.iter_pages() %}
                        {% if page %}
                            <li class="page-item {% if page == pagination.page %}active{% endif %}">
                                <a class="page-link" href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">...</span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}
    {% endif %}
{% endmacro %} 